*{
        margin:0;
        padding: 0;
        box-sizing: border-box;
}

html,body{
        width: 100%;
        height: 100%;
}
#main
{
        
        width: 100%;
        height: 400vh; 
        background-color: #181818; 
        overflow-x: hidden;
}
#nav
{
        width: 100%;
        height: 7%;
        background-color: black;
        position: fixed;
        z-index: 100;
}
#nav img
{
        position: absolute;
        top: 50%;
        transform: translate(30%,-50%);
}
#box1
{
        position: absolute;
        width: 6%;
        height: 60%;
        background-color: #e6020c;
        border-radius: 5px;
         top: 50%;
         transform: translate(0%,-50%);
         right: 11%;
}
#box1 h4
{
        position: absolute;
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-family: "gilroy";
        letter-spacing: 1px;
        font-size: 15px;
        top: 25%;
        left: 12%;
       
}
#box1:hover
{
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        background-color: #ff000d ;
        cursor: pointer;
}
#box2
{
        position: absolute;
        width: 5%;
        height: 60%;
        background-color: transparent;
        border: 1px solid silver;
        border-radius: 5px;
         top: 50%;
         transform: translate(0%,-50%);
         right: 5%;
         
}
#box2:hover
{
        transition: cubic-bezier(0.215, 0.610, 0.355, 1);
        background-color: rgba(128, 128, 128, 0.377) ;
        cursor: pointer;
}
#box2 h3
{
        position: absolute;
        color: white;
        font-weight: 600;
        font-family: "gilroy";
        letter-spacing: 1px;
        font-size: 15px;
        top: 25%;
        left: 16%;
       
}
.t
{
        position: absolute;
        color: rgb(255, 255, 255);
        font-family: "gilroy";
        font-weight: 500;
        right: 10%;
        letter-spacing: 2px;
        top: 50%;
        transform: translate(-50%,-50%);
}
#m1
{
        
        width: 90%;
        height: 90vh;
        background-image: url(allofusaredeadimg.jpg);
        background-size: cover;
        transform: translate(5%,8%);
        border: 10px solid #1f1e1e;
}
#m11
{

        width: 100%;
        height: 90vh;
        background-image: linear-gradient( to right, #1b1a1af6 30% ,transparent);
        background-size: cover;
       
}
#text
{
        width: 40%;
        height: 50vh;
        /* background-color: green; */
        transform: translate(10%,35%);
}
#text h6
{
        color: silver;
        font-family: "gilroy";
        font-size: 15px;
        letter-spacing: 5px;
        transform: translate(4%,-150%);
}
.l
{
        transform: translate(-5%,-15%);
}
#text h4
{
        font-size: 40px;
        color: transparent;
        font-family: "paint drops";
        letter-spacing: 2px;
        -webkit-background-clip: text;
        background-image: url(https://media.istockphoto.com/photos/abstract-red-dreamy-background-picture-id938453686?b=1&k=20&m=938453686&s=170667a&w=0&h=bHlnkU_sb6HByB4mEF3FpAE__bUR6mAqkMawkdItFOg=);
        background-position: center;
        transform: translate(0%,150%);
}
#text h5
{
        color: rgba(255, 255, 255, 0.411);
         word-spacing: 5px;
         font-size: 18px;
         font-weight: 300;
         font-family: "gilroy";
         transform: translate(0%,400%);
}
#text p
{
        color: rgb(255, 255, 255);
        font-family: "gilroy";
        transform: translate(0%,200%);
        font-weight: 400;
        letter-spacing: 2px;
}
#text h3
{
       color: rgb(255, 255, 255);
        font-family: "gilroy";
        transform: translate(0%,300%);
        font-weight: 400;
        letter-spacing: 2px; 
}
#text span
{
        color:rgba(255, 255, 255, 0.411) ;
}
#nav2
{
        position: absolute;
        width: 80%;
        height: 7%;
        background-image: linear-gradient(to right,#2f2e2e,#1f1e1e);
         z-index: 90;
         transform: translate(12%,0%);
       
}
#nav2 img
{
        transform: translate(200%,25%);
}
#nav2 h3
{
        position: absolute;
        color: white;
        font-family: "gilroy";
        top: 50%;
        left: 50%;
        transform: translate(-320%,-50%);
        font-size: 22px;
        word-spacing: 3px;
}
#box3
{
        position: absolute;
        width: 10%;
        height: 60%;
        background-color: #e6020c;
        border-radius: 5px;
         top: 50%;
         transform: translate(0%,-50%);
         right: 1%;
}
#box3 h4
{
        position: absolute;
        color: rgb(255, 255, 255);
        font-weight: 600;
        font-family: "gilroy";
        letter-spacing: 1px;
        font-size: 18px;
        top: 25%;
        left: 15%;
       
}
#box3:hover
{
        transition: cubic-bezier(0.19, 1, 0.22, 1);
        background-color: #ff000d ;
        cursor: pointer;
}
#m2
{
     width: 100%;
        height: 40vh;
         background-color: rgb(31, 30, 30);      
          
}
#m2 h1
{
         position: absolute;
         bottom: -32%;
         left: 5%;
         font-size: 25x;
         color:white;
         word-spacing: 3px;
         font-family: serif;
}
#m2 span
{
        color: rgba(255, 255, 255, 0.644);
        font-size: 20px;
}
#line
{
        position: absolute;
        bottom: -20%;
        width: 80%;
        left: 9%;
        height: 15vh;
        border-top: 1px solid rgba(192, 192, 192, 0.452);
        border-bottom:  1px solid rgba(192, 192, 192, 0.452) ;
        
}
#ltext
{
        position: absolute;
        width: 40%;
        height: 15vh;
        /* background-color: red; */
        color: rgba(255, 255, 255, 0.596);
        font-weight: 100;
        word-spacing: 2px;
        padding-top: 20px;
        text-align: center;
        left: 30%;
        font-family: sans-serif;
}
#ltext span
{
        color: white;
}
#m3
{
       display: flex;
         width: 90%;
        height: 40vh;
      
        transform: translate(5%,8%);  
                  
}
#b1
{
        width: 40%;
        height: 90%;
        background-color: white;
       
        background-image: url(./1.png);
        background-size: cover;
}
#b2
{
        width: 40%;
        height: 90%;
        background-color: white;
        
        margin-left: 1%;
        background-image: url(2.png);
        background-size: cover;
}
#b3
{
        width: 40%;
        height: 90%;
        background-color: white;
        margin-left: 1%;
        background-image: url(3.png);
        background-size: cover;
        
}
.cc{
        margin-top: 48%;
        margin-left: 5%;
}
.cc:hover
{
        cursor: pointer;
}
.tt
{
        font-size: 20px;
        font-family: "gilroy";
        color: white;
        margin-top: 2%;
        font-weight: 500;
        margin-left: 2%;
}
#m4
{
        
         width: 90%;
        height: 30vh;
        /* background-color: green; */
         transform: translate(5%,8%); 
}
#m4text
{
        width: 50%;
        height: 20vh;
        /* background-color: aqua; */
        transform: translate(0%,49.8%);
        padding-top: 30px;
        line-height: 30px;
        color: white;
        font-family: "gilroy";
        letter-spacing: 1.5px;
}
.ta{
        color: rgba(255, 255, 255, 0.527);
        line-height: 15px;
        font-size: 25px;
}
.tb{
        color: rgba(255, 255, 255, 0.527);
        line-height: 15px;
        font-size: 18px;
}
#m5
{
        
        width: 90%;
        height: 90vh;
        /* background-color: green; */
         transform: translate(5%,8%); 
        
}
#m5top
{
        display: flex;
       width: 100%;
        height: 30vh;
        /* background-color: rgb(2, 255, 2); */
        justify-content: space-between;  
}
#m51
{
        width: 20%;
        height: 30vh;
}
#m52
{
        width: 20%;
        height: 30vh;

}
#m53
{
        width: 20%;
        height: 30vh;

}
#m54
{
        width: 20%;
        height: 30vh;

}
#m55
{
        width: 20%;
        height: 30vh;

}
#m5center
{
      display: flex;
       width: 100%;
        height: 30vh;
        /* background-color: rgb(2, 255, 2); */
        justify-content: space-between;     
}
#m56
{
        width: 20%;
        height: 30vh;

}
#m57
{
        width: 20%;
        height: 30vh;
       

}
#m58
{
        width: 20%;
        height: 30vh;
        

}
#m59
{
        width: 20%;
        height: 30vh;

}
#m510
{
        width: 20%;
        height: 30vh;

}
#m5btm
{
      display: flex;
       width: 100%;
        height: 30vh;
        /* background-color: rgb(2, 255, 2); */
        justify-content: space-between;     
}
#m511
{
        width: 20%;
        height: 30vh;
}
#m512
{
        width: 20%;
        height: 30vh;

}
#m513
{
        width: 20%;
        height: 30vh;

}
#m514
{
        width: 20%;
        height: 30vh;
       

}
#m515
{
        width: 20%;
        height: 30vh;
        

}
.ep
{
        font-size: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 300;
        color: rgba(255, 255, 255, 0.924);
        transform: translate(0%,10%);
}
.time
{
        font-size: 15px;
        color: rgba(255, 255, 255, 0.561);
        transform: translate(80%,-130%);
}
#m6
{
        width: 75%;
        height: 40vh;
        /* background-color: green; */
        transform: translate(6%,20%);
}
.txt
{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        font-family: cursive;
        color: rgba(255, 255, 255, 0.911);
        margin-top: 50px;
}
.txb
{
        display: flex;
        justify-content: space-between;
        font-size: 25px;
        font-family: cursive;
        color: rgba(255, 255, 255, 0.863);
        padding-top: 100px;
        
}
.txt span
{
        font-family: "gilroy";
        color: rgba(255, 255, 255, 0.548);
        font-size: 20px;
        font-weight: 500;
}
.txb span
{
        font-family: "gilroy";
        color: rgba(255, 255, 255, 0.548);
        font-size: 20px;
                font-weight: 500;
}
.txt.sp
{
   
        font-family: "gilroy";
        color: rgb(255, 255, 255);
        font-size: 39px ;    
}
#m6 h1
{
        color: white;
        font-family: "gilroy";
        transform: translate(0%,100%);
}
#m7
{
        width: 60%;
        height: 40vh;
        background-color: green;
        transform: translate(6%,50%);
        background-image: url(about.png);
        background-size: cover;
}